


h1, h2, h3, h4, h5, h6 {
  color: #30323A;
  margin: 0 0 10px;
  font-weight: 700;
  padding-left : 100px;
}

a {
  color: #30323A;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}
.container{
    table-layout: fixed;
    border:black;
}

a:hover, a:focus {
  color: #F8694A;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}


/*----------------------------*\
  Sections
\*----------------------------*/

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-grey {
  background: #F6F7F8;
}

.section-title {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #DADADA;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
}

.section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 60px;
  background-color: #F8694A;
}



/*=========================================================
  03 -> NAVIGATION
===========================================================*/

#navigation {
  background-color: #30323A;
}

#navigation .container {
  position: relative;
}



/*----------------------------*\
  Menu nav
\*----------------------------*/

.menu-nav .menu-header {
  display: none;
  padding: 15px;
  text-transform: uppercase;
  background: #30323A;
  color: #FFF;
  font-weight: 700;
}

.menu-nav .menu-header>i {
  float: right;
  line-height: 20px;
}

.menu-nav .menu-list>li {
  display: inline-block;
}

.menu-nav .menu-list>li>a {
  display: block;
  padding: 15px;
  color: #FFF;
  text-transform: uppercase;
}
.menu-nav .menu-list>li>a:hover, .menu-nav .menu-list>li>a:focus, .menu-nav .menu-list>li.dropdown.open>a {
  color: #F8694A;
}



/*=========================================================
  04 -> BANNERS
===========================================================*/

.banner {
  display: block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner>img {
  width: 100%;
}

.banner.banner-1 .banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner.banner-2 .banner-caption {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.banner h1 {
  font-size: 46px;
  text-transform: uppercase;
}


/*=========================================================
  05 -> HOME SLIDER
===========================================================*/

#home .home-wrap {
  margin-left: 270px;
}

#home-slick .banner {
  margin: 0px;
}









